
.home{
    position: relative;
    top: 200px;
    left: 550px;
    right:250px;   
}
body{
    background-color: lightblue;
}
.roof{
    
    border-bottom: 60px solid #257582;
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    width:300px;
    
}
.roof-line{
    height:5px;
    width:400px;
    background-color: brown;
    position: absolute;
    left:-10px;
    top:60px;
}
.wall{
    width: 380px;
    height:350px;
    background-color: sandybrown;
    position: relative;
    border-bottom: 2px #175117;
    top:5px;
}

.door{
    position: absolute;
    width: 60px;
    height: 100px;
    bottom: 0px;
    left:28px;
    background-color: rgb(225, 199, 51);
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    border-top: 1px solid #222;
    border-left: 1px solid #222;
    border-right:1px solid #222;
}
.win1{
    position: absolute;
    top: 40px;
    left:45px;
    height:50px;
    width: 50px;
    background-color: rgb(184, 207, 227);   
}

.win2{
    position: absolute;
    top:40px;
    right:45px;
    height:50px;
    width:50px;
    background-color:rgb(184, 207, 227);

}
.win3{
    position: absolute;
    top:74px;
    right:25px;
    height:50px;
    width:70px;
    background-color: rgb(184, 207, 227);
    


}
.win4{
    position: absolute;
    top: 170px;
    left:45px;
    height:50px;
    width: 50px;
    background-color:rgb(184, 207, 227);
}
.win6{
        position: absolute;
        top: 170px;
        right:50px;
        height:50px;
        width: 50px;
        background-color: rgb(184, 207, 227);
    }
.win5{
            position: absolute;
            top:206px;
            right:25px;
            height:50px;
            width:70px;
            background-color: rgb(184, 207, 227);
        }
.bottomline{
    height:5px;
    width:560px;
    background-color:brown;
    position: absolute;
    right:-90px;
    bottom:0px;
}
.line1{
    height:5px;
    width:380px;
    background-color:brown;
    position: absolute;
    top:130px;
    

}
.line2{
    height:5px;
    width:380px;
    background-color:brown;
    position: absolute;
    top: 110px;
}
.front{
   
    position: relative;
     width: 120px;
    height: 380px;
    background-color: rgb(215, 210, 205) ;
    left: 680px;
    right:256px;
    bottom: 180px;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    border-top: 1px solid #222;
    border-left: 1px solid #222;
    border-right:1px solid #222;

}
.line3{
    height:5px;
    width:120px;
    background-color:brown;
    position: absolute;
    top:144px;}
.line4{
        height:5px;
        width:120px;
        background-color:brown;
        position: absolute;
        top:164px;}
.cloud{
    position: absolute;
    width: 200px;
    height: 60px;
    bottom:580px;
    background-color:rgb(221, 226, 230);
    border-radius: 80px;
    animation-name: slideleft;
    animation-duration:10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
.subcloud1{
    position: relative;
    width:60px;
    height:60px;
    left: 60px;
    bottom: 58px;
    background-color:rgb(221, 226, 230);
    border-radius: 30px;
    }
.subcloud2{
    position: relative;
    width:60px;
    height:60px;
    left:20px;
    bottom:100px;
    background-color: rgb(221, 226, 230);
    border-radius: 50px;

    }
.subcloud3{
        position: relative;
        width:50px;
        height:50px;
        bottom: 145px;
        left: 106px;
        
        background-color: rgb(221, 226, 230);
        border-radius: 50px;
        }
.sblock{
    position: relative;
    width: 130px;
    height: 98px;
    top: 250px;
    left:0px;
    background-color: #808080;
    border-top: 1px solid #222;
    border-left: 1px solid #222;
    border-right:1px solid #222;
}
.sblock1{
    position: relative;
    width: 129px;
    height: 98px;
    top: 150px;
    left:250px;
    background-color: #808080;
    border-top: 1px solid #222;
    border-left: 1px solid #222;
    border-right:1px solid #222;
}
.circle{
    position: absolute;
    width: 40px;
    height: 40px;
    top:20px;
    left:35px;
    background-color:white;
    border-radius: 50px;
    border-color: brown;
    border-style: double;
    }
.cline1{
    position: relative;
    top:14px;
    left:2px;
    width: 36px;
    height: 1px;
    background-color: white;
    transform: rotate(33deg);
   transform-origin: top left;
   border-top: 1px solid brown;
   border-left: 1px solid brown;
   border-right:1px solid brown;
   border-bottom: 1px solid brown;
}
.cline2{
    position: relative;
    top:19px;
    left:2px;
    width: 29px;
    height: 1px;
    background-color: white;
    transform: rotate(33deg);
   transform-origin: top left;
   border-top: 1px solid brown;
   border-left: 1px solid brown;
   border-right:1px solid brown;
   border-bottom: 1px solid brown;
}
.cline3{
    position: relative;
    top:35px;
    right:25px;
    width: 38px;
    height: 1px;
    background-color: white;
    transform: rotate(120deg);
   transform-origin: top right;
   border-top: 1px solid brown;
   border-left: 1px solid brown;
   border-right:1px solid brown;
   border-bottom: 1px solid brown;}
.cline4{
    position: relative;
    top:30px;
    right:33px;
    width: 40px;
    height: 1px;
    background-color: white;
    transform: rotate(120deg);
   transform-origin: top right;
   border-top: 1px solid brown;
   border-left: 1px solid brown;
   border-right:1px solid brown;
   border-bottom: 1px solid brown;}
.doorline1{
    height:3px;
    width:60px;
    background-color:brown;
    position: absolute;
    top:22px;
}
.doorline2{
    height:3px;
    width:60px;
    background-color:brown;
    position: absolute;
    top:63px;
}
.doorline3{
    height:100px;
    width:3px;
    background-color:brown;
    position: absolute;
    bottom:0px;
    left:26px;
}
.knob{
    position:relative;
    width: 4px;
    height: 4px;
    top:302px;
    left:10px;
    background-color:brown;
    border-radius: 50px;}

    .knob2{
        position:relative;
        width: 4px;
        height: 4px;
        top:298px;
        left:23px;
        background-color:brown;
        border-radius: 50px;}
@keyframes slideleft{
    from{left:-50px;}
    to{left:1400px;}
}
.tree1{
    position:  absolute;
    width:80px;
    height:80px;
    bottom: 130px;
    left:520px ;
    background: #94ab38;
    border-top-left-radius:100px;
    border-bottom-right-radius:100px;
    transform: rotate(135deg);
    transform-origin: top;
}
.treeline{
    width:7px;
    height:90px;
    bottom: 125px;
    left: 527px;
    position: absolute;
    background: #3c2703;
}
.tree2{
    position:  absolute;
    width:80px;
    height:80px;
    bottom: 130px;
    left:480px ;
    background: #7b921f;
    border-top-left-radius:100px;
    border-bottom-right-radius:100px;
    transform: rotate(135deg);
    transform-origin: top;
}

.tree3{
        position:  absolute;
        width:80px;
        height:80px;
        bottom: 130px;
        right:474px ;
        background: #94ab38;
        border-top-left-radius:100px;
        border-bottom-right-radius:100px;
        transform: rotate(135deg);
        transform-origin: top;
    }
.treeline3{
        width:7px;
        height:90px;
        bottom: 125px;
        right: 539px;
        position: absolute;
        background: #3c2703;
    }

    
.treeline4{
        width:7px;
        height:90px;
        bottom: 125px;
        left: 490px;
        position: absolute;
        background: #3c2703;}
        .tree4{
            position:  absolute;
            width:80px;
            height:80px;
            bottom: 130px;
            right:435px ;
            background: #7b921f;
            border-top-left-radius:100px;
            border-bottom-right-radius:100px;
            transform: rotate(135deg);
            transform-origin: top;}
            .treeline2{
                width:7px;
                height:90px;
                bottom: 125px;
                right: 500px;
                position: absolute;
                background: #3c2703;}
.sline1{
    width:1600px;
    height: 300px;
    top: 623px;
    position: absolute;
    background: #f6daa7;
}